<mat-toolbar color="primary">
  <span>Symbology Mapping Editor</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<div class="content-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Welcome to Symbology Mapping Editor</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>This application is built with Angular 15 and Angular Material 14.2.7.</p>
    </mat-card-content>
  </mat-card>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Symbology-Editor
      </mat-panel-title>
      <mat-panel-description>
        Bearbeiten von benutzerdefinierten Symbolcode-Mappings zwischen APP6D und MilStd2525C
      </mat-panel-description>
    </mat-expansion-panel-header>
    <symbology-editor></symbology-editor>
  </mat-expansion-panel>
</div>

<router-outlet></router-outlet>
